<!DOCTYPE html>
<html ng-app="gnb" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>
    <meta name="fragment" content="!">

    <!-- social media tags

Uncomment and add values if desired

	-->
    <!--
	
	<meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:description" content=""> 
	
	-->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
	<!-- TODO: what about when used on HTTPS? will there be warnings about non-HTTPS loading of stuff? Might be better to just minify-->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
          <div class="navbar-brand">
            []PUT BRANDING HERE
          </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
	        <ul class="nav navbar-nav">
	            <li ui-sref-active="active">
	              <a href ui-sref="home">
	                <i class="fa fa-home"></i>
	                Home
	              </a>
	            </li>
	        </ul>
		    <div class="container-fluid navbar-right">
				<button type="button"
						class="btn btn-default navbar-btn"
						ng-if="!isAuthenticated()" 
						ng-click="authenticate('google')">
						Sign in with Google
				</button>
				<button type="button"
						class="btn btn-default navbar-btn"
						ng-if="isAuthenticated()"
						ng-click="logout()">
						Logout
				</button>	 
		    </div>
        </div>
    </nav>

    <div class="main-content" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner"> 
        	<ul class="social">
        	    <li>
	            	<a target="_blank" href="https://bitbucket.org/bogdanvarlamov/gae-ng-bootstrap">
	            		<i class="fa fa-bitbucket"></i>
	            	</a>
	            </li>
        	</ul>        
          <p>
            &copy; [] PUT YEAR AND YOUR NAME HERE 
            <br />
            <%= name %> <small>v<%= version %></small> is based on
			<a href="https://cloud.google.com/appengine/">Google App Engine</a>,
			<a href="https://github.com/flask-restful/flask-restful">Flask RESTful</a>,
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a>, 
            <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
            and 
            <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.        	    
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
